Microsoft Enterprise Library/Logging/Web References/webservice/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Log">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logEntry" nillable="true" type="tns:WSLogEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSLogEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Priority" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EventId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Severity" type="tns:Severity" />
          <s:element minOccurs="1" maxOccurs="1" name="LoggedSeverity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MachineName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppDomainName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcessId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcessName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ManagedThreadName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Win32ThreadId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtendedProperties" type="tns:ArrayOfArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Severity">
        <s:restriction base="s:string">
          <s:enumeration value="Unspecified" />
          <s:enumeration value="Information" />
          <s:enumeration value="Warning" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfAnyType" nillable="true" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="LogResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogSoapIn">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="LogSoapOut">
    <wsdl:part name="parameters" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:portType name="LoggingSoap">
    <wsdl:operation name="Log">
      <wsdl:input message="tns:LogSoapIn" />
      <wsdl:output message="tns:LogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoggingSoap" type="tns:LoggingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="Log">
      <soap:operation soapAction="http://tempuri.org/Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Logging">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="LoggingSoap" binding="tns:LoggingSoap">
      <soap:address location="http://localhost/Webservice1/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>